web/node_modules/
web/yarn.lock
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/interface.http*
web/src/setupProxy.js
.DS_Store
.vscode
.idea

/server/cache/log/*.log
/server/map.json
/server/public/tmpdir
.buildpath
.project
.settings/
# server/app/config_prod.php